.navbar-custom {
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
}

.navbar-custom * {
    display: inline;
}

.navbar-custom span {
    justify-content: space-between;
    color: black;
    text-decoration: none;
}

.span-left {
    margin-left: auto;
    white-space: pre-wrap;
    margin-right: 60px;
    font-size: x-large;
}

.span-right {
    margin-right: auto;
    white-space: pre-wrap;
    margin-left: 60px;
    font-size: x-large;
    text-transform: uppercase
}

.custCont{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
}

.openModalBtn {
    justify-items: center;
    border: none;
    border-radius: 6px;
    background-color: cornflowerblue;
    color: aliceblue;
}

.openModalBtn span.icon {
    background: no-repeat;
    float: left;
    width: 10px;
    height: 40px;
}