.navbar-custom {
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
}

.navbar-custom * {
    display: inline;
}

.navbar-custom span {
    justify-content: space-between;
    color: black;
    text-decoration: none;
}

.span-left {
    margin-left: auto;
    white-space: pre-wrap;
    margin-right: 60px;
    font-size: x-large;
}

.span-right {
    margin-right: auto;
    white-space: pre-wrap;
    margin-left: 60px;
    font-size: x-large;
    text-transform: uppercase
}