.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
}

.modalStyle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 20px 20px;
    z-index: 9999;
    border: 1px solid black;
} 

.closeBtn {
    background: none;
    border: none;
    font-size: 25px;
    margin-left: auto !important;
    position: relative;
    float: right;
}